body {
    margin: 0;
    background-image: url('https://cutewallpaper.org/27/bad-ass-star-wars-wallpaper/133959061.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}